[Unit]
Description=powercellVision: Initialize the PowerCell Vision Tracker
After=multi-user.target

[Service]
ExecStart=/home/team5607/NanoVision5607/systemd/powercellcv.py
Restart=always
StartLimitInterval=10
RestartSec=10

[Install]
WantedBy=multi-user.target
