[Unit]
Description=powersave Wifi Off: Turns off the power save mode on boot
After=networking.service

[Service]
Type=oneshot
ExecStart=/home/team5607/NanoVision5607/systemd/powersaveWifiOff.sh

[Install]
WantedBy=multi-user.target
